<ion-view title="Playlist">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-qr-scanner" ng-click="openPopover()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-slide-box id="aaa" on-slide-changed="slideHasChanged($index)" ng-show="true">
      <ion-slide>
        <div class="box blue">
          <h1>BLUE</h1>
          <a ng-href="tel:10086" class="button">移动客服</a>
          <a href="sms:10086" class="button">发短信</a>
          <a ng-href="mailto:176566340" class="button" >发送邮件</a>
          <img class="full-image" ng-src="img/delorean.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <h1>YELLOW</h1>
          <img class="full-image" ng-src="img/ionic.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <h1>PINK</h1>
          <img class="full-image" ng-src="img/delorean.jpg">
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
