<ion-view title="税款缴纳">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-log-out"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
        pulling-text="下拉刷新..."
        >
    </ion-refresher>
    <ion-list>
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-ios7-copy"></i>
        通用申报表
        <span class="badge badge-energized">2658.42</span>
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-ios7-copy"></i>
        个人所得税申报表
        <span class="badge badge-energized">682.42</span>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
